
# executed as python source code
# sys is in scope as well as PY3 if the major
# version number is greater than or wequal to three.

SWIG = '/usr/bin/swig'
CXX = '/usr/bin/g++'

# must be a valid string
SWIGOPTS   = '-O -Wall'
CXXOPTS    = '-Wall -O2 -fPIC'

# relative to the directory with build.py
PCGHEADERS = '../pcg-cpp/include'

# Override if necessary. If bool(PYHEADERS) is False, a sensible
# default based on the running interpreter is used.
PYHEADERS  = ''

# support for serialization
# does not work for generators with 128 bits of state
GETSET     = True

